body {
    padding-left: 25%;
    padding-right: 25%;
    background-color: #d6a2ad;
}

h1 {
    text-align: center;
    font-family: impact, sans-serif;
    color: #7F6ADA;
    font-size: 500%;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    color: #169873;
    font-family: impact, sans-serif;
    text-align: center;
    font-size: 300%;
    margin-top: 0;
    margin-bottom: 0;
}

h4 {
    color: #169873;
    font-size: 200%;
    font-family: impact, sans-serif;
    margin-top: 0;
    margin-bottom: 0;
}

p {
    font-size: larger;
}

hr {
    height: 1px;
    background-color: black;
    border: none;
}

.page-contents {
    background-color: #F7E7CD;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0;
    padding-bottom: 1em;
    border: 1px solid black;
    box-shadow: 5px 5px 15px gray;
    border-radius: 2em;
    text-align: center;
}

.pets-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
}

.pet-card {
    width: 45%;
    margin: auto;
    text-align: center;
    font-size: x-large;
}

.pet-image {
    width: 90%;
    border-radius: 2em;
    margin: auto;
    margin-bottom: 5px;
}

.show-contents {
    width: 90%;
    text-align: center;
    font-size: x-large;
    margin: auto;
}

.back-btn {
     font-size: x-large;
    background-color: #7F6ADA;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.new-fact-btn {
    background-color: #8dffb9;
    font-size: x-large;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

#new-fact-form {
    width: 75%;
    margin: auto;
    text-align: left;
}

#new-fact-form input,
#new-fact-form textarea {
    margin-bottom: 1em;
    width: 100%;
    border-radius: .75em;
    border-color: black;
}

#new-fact-form label {
    font-family: impact, sans-serif;
    font-size: x-large;
    color: #169873;
}

#new-fact-form input {
    height: 2em;
    font-size: larger;
}

#new-fact-form textarea {
    font-size: x-large;
}