<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Document</title>
</head>
<body>
    <div class="page-contents">
        <h1>Welcome to PetFax</h1>
        <hr>
        <div class="pets-container">
            {% for pet in pets %}
            <div class="pet-card">
                <h2>{{ pet.pet_name }}</h2>
                <img class="pet-image" src="{{ pet.pet_photo }}" alt="Photo of {{ pet.pet_name }}" />
                <p>Click <a href="/pets/{{ pet.pet_id }}">here</a> to learn more about {{ pet.pet_name }}!</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <p>Sumbit a new fact about one of our pets <a href="/facts/new">here</a>!</p>
</body>
</html>