<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Document</title>
</head>
<body>
    <h1>Submit a New Fact!</h1>
    <form>
        <label for="petName">Pet Name:</label><br>
        <input name="petName" type="text" /><br>
        <label for="fact">New Fact:</label><br>
        <input name="fact" type="text" /><br>
        <label for="submitter">Submitter Name:</label><br>
        <input name="submitter" type="text" /><br>
        <input type="submit" value="Submit" />
    </form>
    <p>(<a href="/pets">Go Back</a>)</p>
</body>
</html>