{% extends "base.html.j2" %}
{% block title %}New Fact{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="page-contents">
        <h1>Submit a New Fact!</h1>
        <hr>
        <div class="new-fact-contents">
            <form>
                <label for="pet-name">Pet Name:</label><br>
                <input name="pet-name" type="text" /><br>
                <label for="fact">New Fact:</label><br>
                <textarea rows="4" cols="50" placeholder="Enter your pet fact here!" style="resize: none;"></textarea><br>
                <label for="submitter-name">Your Name:</label><br>
                <input name="submitter-name" type="text" /><br>
                <input class="new-fact-btn" type="submit" value="Submit Fact" />
            </form>
        </div>
        <form action="/pets">
            <input class="back-btn" type="submit" value="Go Back" />
        </form>
    </div>
{% endblock %}